.logout-button {
  background-color: #644fd9;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: #c9302c;
}